# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/

#FPGA Bitfiles
*.lvbitx
LabviewCode/Dymin4ALL - Copy.lvproj
LabviewCode/Old Files/Dymin_FPGA_Main_EXCTrig.vi
LabviewCode/Synchronization Registers Testing.vi
