# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/

#FPGA Bitfiles
*.lvbitx
LabviewCode/Dymin4ALL - Copy.lvproj
LabviewCode/Old Files/Dymin_FPGA_Main_EXCTrig.vi
LabviewCode/Synchronization Registers Testing.vi
*.pptx
.DS_Store
LabviewCode/FPGA Main.vi
LabviewCode/RT Main.vi
LabviewCode/Control 1.ctl
LabviewCode/Control 2.ctl
LabviewCode/Dymin_FPGA_Main210329.vi
LabviewCode/Dymin_RT_Main_210329.vi
LabviewCode/Test Join and Split.vi
